
h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

p
{
	text-align: center;
}

table
{
	text-align: center;
	width: 100%;
}

#controlbuttons
{
	text-align: center;
}

.controlbutton
{
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#frequencycontrol
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.fbutton
{
	margin-left: auto;
	margin-right: auto;
}

#imucalibrate
{
	text-align: center;
}

.menubutton
{
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	border-radius: 15px;
}

