
@import "overall.css";

body {
    background-color: LightGoldenRodYellow;
}

.datasection
{
	width: 80%;
	height: 70%;
	text-align: center;
	font-size: 48px;
	margin: auto;
	border: 5px solid;
}

.datatag
{
	border: 3px solid;
	font-weight: bold;
}

.datavalue
{
	border: 3px solid;
}

.dataimportant
{
	border: 3px solid;
	text-align: center;
	font-size: 100px;
}

